.container {
    display: block;
}

.airport-area, .list-area, .date-area {
    display: flex;
    margin-right: 1em; 
    margin-left: 1em;
    overflow: hidden;
}

.airport-area {
    margin-top: 1em;
    margin-bottom: 1em;
}

.date-area {
    margin-top: -1em;
    margin-bottom: 1em;
}

.airport-main {
    display: block;
    margin-right: auto; 
    margin-left: auto;
    margin-top: 1em;
    background-color: #1177ca;
    border: 1px solid #073590;
    width: 90%;
    overflow: hidden;
}

.list-main {
    display: block;
    margin-right: auto; 
    margin-left: auto;
    width: 90%;
    overflow: hidden;
}

.airport-field, .date-field {
    width: 35%;
    min-width: 200px;
    margin: 0.25em;
    border-radius: 5px 5px 0 0;
    background: white;
    
}

.area-button {
    margin-left: 1em;
    margin-bottom: auto;
    margin-top: auto;
    width: 25%;
    min-width: 200px;
    text-align: center;
}

.core-button {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    padding: 7px 32px;
    color: #073590;
    background-color: #F1C933;
    border-color: #F1C933;
    border-radius: 5px;
    outline: 0;
}

.airport-list {
    display: block;
    width: 75%;
    margin: right;
    background-color: #1177ca;
    border: 1px solid #073590;
    overflow: hidden;
}

.airport-input, .date-input {
    width: 90%;
    height: 28px;
    padding: 0 10px;
    color: #073590;
    font-size: 18px;
    font-weight: 700;
    outline: 0;
    vertical-align: middle;
    text-transform: capitalize;
    z-index: 1;
    line-height: 28px;
    bottom: 0;
    border: 1px;
    background: 0 0;
}

.date-input {
    width: 80%;
}

.input-label {
    display: block;
    padding: 4px 10px;
    font-size: 14px;
    background: #e9f2f9;
    color: #2E2E2E;
    line-height: 18px;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #cee1f2;
}

.table-list {
    width: 100%;
    margin: 0;
    padding-left: 0;
}

.list-item {
    float: left;
    width: 47%;
    text-align: center;
    list-style-type: none;
    background: lightgray;
    padding: 10px 0 10px 0;
    margin: 2px;
}

.flights-list {
    display: block;
    margin: auto;
}

@media (max-width: 750px) {

    .airport-area, .list-area, .date-area {
        flex-direction: column;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
    }

    .airport-field, .date-field, .core-button {
        margin-bottom: 0.5em;
    }

    .area-button {
        margin-right: auto;
        margin-left: auto;
        width: 90%
    }

    .core-button {
        margin-top: 0.25em;
    }

    .airport-field, .date-field, .airport-list  {
        width: 90%;
    }

}