<div class="container">

    <div class="airport-main">
        <div class="airport-area">
            <div class="airport-field">
                <label for="departureInput">From:</label>
                <input name="departureInput" type="text" 
                (focus)="showDepartures = true; showDestinations = false; showDateArea = false" 
                 placeholder="Departure Airport" [(ngModel)]="filteredAirport">
            </div>
      
            <div class="airport-field">
                <label for="destinationInput">To:</label>
                <input name="destinationInput" [disabled]="!departureSelected" type="text" 
                (focus)="showDestinations = true; showDepartures = false; showDateArea = false" 
                [(ngModel)]="filteredDestination" placeholder="Destination Airport">
            </div>
            <div class="core-button">
                <button [disabled]="!destinationSelected" type="button" 
                (click)="showDateArea = true; showDepartures = false; showDestinations = false">Continue</button>
            </div>
        </div>
      
        <div class="date-area" *ngIf="showDateArea">
            <div class="date-field">
              <label for="flyOut">Fly out:</label>
              <input class="date-input" matInput name="flyOut" [max]="returnDate"
              [matDatepicker]="pickerOut" placeholder="DD/MM/YYYY" [(ngModel)]="departureDate" (dateChange)="formatDate(departureDate,'start')">
              <mat-datepicker-toggle matSuffix [for]="pickerOut"></mat-datepicker-toggle>
              <mat-datepicker #pickerOut></mat-datepicker>
            </div>
            <div class="date-field">
              <label for="flyBack">Fly Back:</label>
              <input class="date-input" matInput name="flyBack" [min]="departureDate" 
              [matDatepicker]="pickerBack" placeholder="DD/MM/YYYY" [(ngModel)]="returnDate" (dateChange)="formatDate(returnDate,'end')">
              <mat-datepicker-toggle matSuffix [for]="pickerBack"></mat-datepicker-toggle>
              <mat-datepicker #pickerBack></mat-datepicker>
            </div>
            <div class="core-button">
                  <button type="button" 
                  (click)="onLoadFlightsComponent()">Lets go!</button>
              </div>
        </div>
    </div>

    <div class="list-area">
        <div class="airport-list" *ngIf="showDepartures">
            <ul *ngFor="let airport of departures | filter:filteredAirport:'name'">
                <li style="cursor: pointer" (click)="selectedDeparture = airport; filteredAirport = airport.name;
                departureSelected = true; onShowDestinations(selectedDeparture.iataCode)">{{ airport.name }}</li>
            </ul>
        </div>
        <div class="airport-list" *ngIf="showDestinations">
            <ul *ngFor="let destination of destinations | filter:filteredDestination:'name'">
                <li style="cursor: pointer" (click)="selectedDestination = destination; filteredDestination = destination.name;
                destinationSelected = true">{{ destination.name }}</li>
            </ul>
        </div>
    </div>
  
  <br>
  <div class="flights-list">
    <router-outlet></router-outlet>
  </div>
</div>