.nav-bar {
    background: #073590;
    height: 68px;
    border-bottom: 2px solid #F1C933;
}

.nav-bar a {
    display: block;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-bar a:hover {
    color: #F1C933;
}

@media (max-width: 750px) {

    .nav-bar a {
        float: none;
    }
}